*{
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0;
}

/* home */
.home{
    background-color: #13171C;
    height: 1627px;
}
@media(min-width: 768px){
    .home{
        height: 2080px;
    }
}
.home-bienvenida{
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
@media(min-width: 768px){
    .home-bienvenida{
        height: 1024px;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
.titulo-bienvenida{
    color: #FFFFFF;
    font-size: 60px;
    margin: 0;
}
@media(min-width: 768px){
    .titulo-bienvenida{
        font-size: 96px;
        height: 96px;
    }
}
.subtitulo-bienvenida{
    color: #00ADB5;
    font-size: 60px;
    margin: 0;
}
@media(min-width: 768px){
    .subtitulo-bienvenida{
        height: 96px;
        font-size: 96px;
    }
}
.imagen-bienvenida{
    width: 219px;
    height: 211px;
}
@media(min-width: 768px){
    .imagen-bienvenida{
        width: 353px;
        height: 340px;
    }
}

/*presentacion*/
.presentacion{
    background-color: #192130;
    height: 789px;
}
@media(min-width: 768px){
    .presentacion{
        height: 935px;
    }
}
.presentacion-contenedor{
    height: 606px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
@media(min-width: 768px){
    .presentacion-contenedor{
        height: 415px;
        gap: 177px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 260px 125px 0 125px;
    }
}
.presentacion-titulo{
    margin: 0;
    padding-top: 71px;
    font-size: 42px;
    color: #FFFFFF;
}
@media(min-width: 768px){
    .presentacion-titulo{
        font-size: 64px;
    }
}
.presentacion-contenido{
    height: 243px;
    width: 295px;
    margin: 0;
    font-size: 18px;
    color: #EEEEEEBF;
    opacity: 75%;
    padding-top: 15px;
}
@media(min-width: 768px){
    .presentacion-contenido{
        height: 189px;
        width: 389px;
    }
}
.presentacion-img{
    width: 295px;
    height: 241px;
    padding-top: 15px;
}
@media(min-width: 768px){
    .presentacion-img{
        width: 623px;
        height: 415px;
        padding: 0;
    }
}

/*servicios*/
.servicios{
    background-color: #13171C;
    background-image:url(D-W-y-C-fotos/doodle\ items.svg) ;
    height: 1903px;
}
@media(min-width: 768px){
    .servicios{
        height: 942px;
    }
}
.servicios-titulo{
    font-size: 42px;
    margin: 0;
    text-align: center;
    padding-top: 84px;
}
@media(min-width: 768px){
    .servicios-titulo{
        font-size: 64px;
        padding-top: 90px;
    }
}
.span-color-1{
    color: #FFFFFF;
}
.span-color-2{
    color: #00ADB5;
}
.servicios-contenedor{
    height: 1564px;
    padding: 66px 24px 0 24px;
    gap: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@media(min-width: 768px){
    .servicios-contenedor{
        height: 523px;
        padding: 82px 136px 0 136px;
        gap: 25px;
        flex-direction: row;
    }
}
.contenedor-card{
    height: 481px;
    width: 324px;
    border-radius: 16px;
    background-color: rgba(57, 62, 70, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(min-width: 768px){
    .contenedor-card{
        width: 360px;
        height: 523px;
    }
}
.imagen-card{
    width: 265px;
    height: 158px;
}
.titulo-card{
    font-size: 33px;
    line-height: 33px;
    color: #EEEEEE;
    text-align: center;
}
.contenido-card{
    width: 280px;
    font-size: 16px;
    color: #EEEEEE;
    padding: 0 40px 0 40px ;
}